.sidebar {
  position: fixed;
  top: 60px;
  left: -300px;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: left 0.3s ease;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

.sidebar.open {
  left: 0;
}
@media (min-width: 1200px) {
  .sidebar.open + #main {
    margin-left: 300px;
    padding: 5px;
    overflow-x: hidden;
  }
  .sidebar.open + #footer {
    margin-left: 300px;
  }
}
/* @media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
} */

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

/* @media (min-width: 1200px) {
  #main,
  #footer {
    margin-left: 300px;
  }
} */

/* @media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
} */

/* @media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }
  .toggle-sidebar .sidebar {
    left: -300px;
  }
} */

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}
.sidebar-nav .main-item .nav-link {
  font-size: 22px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  background: #fff;
  padding: 10px 15px;
  border-radius: 4px;
}
.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #899bbd;
}
.sidebar-nav .nav-link.collapsed {
  color: #012970;
  background: #fff;
}
.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: #4154f1;
  background: #f6f9ff;
}
.sidebar-nav .nav-link:hover {
  color: #4154f1;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0;
  margin: 0;
}
.sidebar-nav .nav-content ul {
  list-style: none;
  padding-left: 20px;
}

.sidebar-nav .nav-content li {
  margin-bottom: 5px;
}

.sidebar-nav .nav-content a {
  display: block;
  padding: 8px 15px;
  font-size: 14px;
  color: #4154f1;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  margin-left: 10px;
}
.sidebar-nav .nav-content a span {
  color: #012970;
  font-weight: 500;
}
.sidebar-nav .nav-content a:hover span {
  color: #4154f1;
}
.sidebar-nav .nav-content a:hover {
  color: #4154f1;
  background: #f6f9ff;
}
